*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    position: absolute;
    width: 100vw;
    height: 10vh;
    background-color: black;   
    display: flex;
    justify-content: space-between;
     
}

#comeco{
    left: 0px;
}

#final{
    right: 0px;
}

#buraco{
    height: 2vh;
    width: 5vw;
    top: 30px;
}

.box{
    width: 7vw;
    height: 7vh;
    position: absolute;        
    animation: Animacao1 15s infinite 1s;
}

.box .dr {
    z-index: 2;
  }
  
  .box .dr2{
    z-index: 1;
    opacity: 0;
  }

@keyframes Animacao1{
0%{
    opacity: 0;
    right: 0vh;
    top: 0vh;        
}
5%{
    opacity: 1;
}

15%{
    right: 50vh;  
    top: 0vh;
    z-index: 1; 
    opacity: 1;   
}

30%{
    right: 50vh;
    top: 10vh; 
    z-index: 2; 
    opacity: 1;      
}

35%{  
    right:90vh;  
    top: 10vh; 
    
}

40%{
   opacity: 1;
    right: 90vh;
    top: 0vh;        
}

50%{
    right: 100vh;
    top: 0vh;
}

60%{
    right: 120vh;
    top: 0vh;
}

70%{
    right: 130vh;
    top: 0vh;
}
90%{
    right: 140vh;
    top: 0vh;
}
100%{
    right: 15vh;
    top: 0vh;
    opacity: 0; 
}
}